.shadowAdd {
    padding: 10px;
    box-shadow: 1px 2px 10px #DEDEE1;
}

.scrolling-wrapper2 {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 95%;
    /* height: 350px; */
    /* background-color: green; */
}

.card {
    display: inline-block;
}